*.log
*.ipynb

# IDE settings
.vscode

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Documentation
_build
_static
_templates

# Jupyter Notebook
.ipynb_checkpoints

# Testing
*.xlsx

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/_rst/*
docs/_build/*
cover/*
rayoptics-pyscaffold-4_3/*
roa_new/*
MANIFEST
