# requirements to build rayoptics doc on ReadTheDocs
opticalglass >= 0.4.5
numpy >= 1.17.1
scipy >= 1.3.1
matplotlib >= 3.1.1
json_tricks >= 3.13.2
pandas >= 0.25.1
attrs >= 19.1.0
transforms3d >= 0.3.1
traitlets >= 4.3.2
ipywidgets >= 7.5.1
qtconsole >= 4.5.5
qdarkstyle >= 2.8
